body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgb(18, 11, 94) 1.1%, rgb(150, 12, 62) 130.5%);
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

header {
  background-image:
    linear-gradient(rgba(91, 108, 207, 0.5), rgba(91, 108, 207, 0.5)),
    url("../images/boracay_beach_hero2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
  color: #f7f3eb;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  color: #f7f3eb;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  color: #f7f3eb;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 32px;
  background: #f97316;
  display: inline-block;
  margin-top: 32px;
  border-radius: 15px;
  color: #f7f3eb;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-in-out;
}

header a:hover {
  background-color: #fc852f;
  transform: translateY(-1px);
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

main {
  background-color: #fef9f9;
}

main h2 {
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.main-img {
  max-width: 100%;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}

.instagram-embeds {
  margin: 30px 0;
}

.card {
  background: #fef9f9;
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.img-responsive {
  width: 100%;
  display: block;
}

.btn {
  display: block;
  color: #f7f3eb;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #f97316;
  border-radius: 15px;
  text-decoration: none;
}

.btn:hover {
  background-color: #fc852f;
  transform: translateY(-1px);
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.highlight {
  color: #50b2c0;
  font-style: italic;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #f7f3eb;
}

footer {
  color: azure;
  background-image:
    linear-gradient(rgba(48, 28, 59, 0.8)), url("../images/boracay\ footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 40%;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16 / 9;
  }
}
